<div class="recipe-overlay">
  <div class="overlay-contain">
    <div class="col-xs-10 col-xs-offset-1">
      <form [formGroup]="recipeForm"
            (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="submit"
                    [disabled]="!recipeForm.valid"
                    class="btn btn-success"
                    style="margin-right: 25px">Save</button>
            <button type="button"
                    class="btn btn-danger"
                    (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                     id="name"
                     class="form-control"
                     formControlName="name">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text"
                        id="description"
                        class="form-control recipe-description-area"
                        formControlName="description"
                        rows="6"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input type="text"
                     id="imagePath"
                     class="form-control"
                     formControlName="imagePath"
                     #imagePath>
            </div>
            <div class="form-group">
              <label for="imagePath">Recipe Image</label>
              <img [src]="imagePath.value"
                   class="img-responsive">
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12"
               formArrayName="ingredients">
            <div class="test"
                 *ngFor='let title of titleArray; let ingredientTypeIndex = index'
                 [formGroupName]='ingredientTypeIndex'>
              <hr>
              <div class="row">
                <div class="col-xs-10">
                  <label for="ingredient{{ingredientTypeIndex}}">Recipe Type</label>
                  <input type="text"
                         class="form-control"
                         value="{{title}}"
                         id="ingredient{{ingredientTypeIndex}}">
                </div>
              </div>
              <div class="row"
                   *ngFor="let ingredients of ingredientFormArray[ingredientTypeIndex].value; let ingredientIndex = index"
                   style="margin-top: 10px;"
                   [formGroupName]='ingredientIndex'>
                <div class="col-xs-10">
                  <label for="ingredient{{ingredientTypeIndex}}{{ingredientIndex}}">Ingredient</label>
                  <input type="text"
                         class="form-control"
                         formControlName="name"
                         id="ingredient{{ingredientTypeIndex}}{{ingredientIndex}}">
                </div>
                <div class="col-xs-2">
                  <button type="button"
                          class="btn btn-danger"
                          (click)="onDeleteIngredient(ingredientTypeIndex)">X</button>
                </div>
              </div>
              <button type="button"
                      class="btn btn-success"
                      (click)="onAddIngredient(ingredientTypeIndex)">Add Ingredient</button>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button type="button"
                        class="btn btn-success"
                        (click)="onAddIngredientType()">Add Ingredient Type</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <!-- *ngFor="let ingredientsCtrl of getControls(); let i = index"> -->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="directions">directions</label>
              <textarea type="text"
                        id="directions"
                        class="form-control"
                        formControlName="directions"
                        rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="row"
             style="margin-bottom: 25px">
        </div>
      </form>
    </div>
  </div>
</div>