<div class="overlay-shadow"
     (click)="onOverlayShadowClick($event)">
  <div class="recipe-overlay">
    <div class="overlay-contain">
      <div class="form-contain">
        <form [formGroup]="recipeForm"
              (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-xs-12 text-center">
              <button type="submit"
                      [disabled]="!recipeForm.valid"
                      class="btn btn-success"
                      style="margin-right: 25px">Save</button>
              <button type="button"
                      class="btn btn-danger"
                      (click)="onCancel()">Cancel</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="imagePath">Image URL</label>
                <input type="text"
                       id="imagePath"
                       class="form-control"
                       formControlName="imagePath"
                       #imagePath>
              </div>
              <div class="form-group">
                <label for="imagePath">Recipe Image</label>
                <img [src]="imagePath.value"
                     class="img-responsive recipe-image">
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label for="name">Recipe Name</label>
                <input type="text"
                       id="name"
                       class="form-control"
                       formControlName="name">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text"
                          id="description"
                          class="form-control recipe-description-area"
                          formControlName="description"
                          rows="6"></textarea>
              </div>
            </div>
          </div>
          <hr>
          <div class="item-group-contain"
               formGroupName='ingredients'>
            <div class="item-contain"
                 *ngFor='let ingredientType of ingredientTypeArray; let i = index'>
              <div class="form-group item-type-contain"
                   [formGroupName]="i">
                <label class="section-title"
                       for="ingredient-group{{i}}">INGREDIENT GROUP NAME:</label>
                <div class="item-type-row">
                  <input type="text"
                         class="form-control item-type-input"
                         formControlName="title"
                         id="ingredient-group{{i}}">
                  <button type="button"
                          class="btn-delete"
                          (click)="onDeleteItemType('ingredient', i)"></button>
                </div>
                <div class="item-list-contain">
                  <div class="section-title">INGREDIENTS:</div>
                  <div class="item-list">
                    <div class="item-each"
                         *ngFor="let ingredient of ingredientListArray[i]; let p = index"
                         formArrayName="item">
                      <div [formGroupName]="p">
                        <label class="hidden"
                               for="ingredient-{{p}}">Ingredient</label>
                        <div class="item-input-row">
                          <input type="text"
                                 class="form-control item-input"
                                 formControlName="name"
                                 id="ingredient-{{p}}">
                          <button type="button"
                                  class="btn-delete"
                                  (click)="onDeleteItem('ingredient', p, i)"></button>
                        </div>
                      </div>
                    </div>
                    <div class="item-each">
                      <button type="button"
                              class="btn btn-clear"
                              (click)="onAddItem('ingredient', i)">+ Add Ingredient</button>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="button"
                        class="btn btn-clear"
                        (click)="onAddItemType('ingredient')">+ Add Ingredient Group</button>
              </div>
            </div>
          </div>
          <hr>
          <div class="item-group-contain"
               formGroupName='directions'>
            <div class="item-contain"
                 *ngFor='let directionType of directionsTypeArray; let i = index'>
              <div class="form-group"
                   [formGroupName]="i">
                <label class="section-title"
                       for="direction-group{{i}}">DIRECTION GROUP NAME</label>
                <div class="item-type-row">
                  <input type="text"
                         class="form-control item-type-input"
                         formControlName="title"
                         id="direction-group{{i}}">
                  <button type="button"
                          class="btn-delete"
                          (click)="onDeleteItemType('directions', i)"></button>
                </div>
                <div class="item-list-contain">
                  <div class="section-title">DIRECTIONS</div>
                  <div class="item-list">
                    <div class="item-each"
                         *ngFor="let direction of directionListArray[i]; let p = index"
                         formArrayName="item">
                      <div [formGroupName]="p">
                        <label class="hidden"
                               for="direction{{p}}">DIRECTION</label>

                        <div class="item-input-row">
                          <input type="text"
                                 class="form-control"
                                 formControlName="name"
                                 id="direction{{p}}">
                          <button type="button"
                                  class="btn-delete"
                                  (click)="onDeleteItem('directions', p, i)"></button>
                        </div>
                      </div>
                    </div>
                    <div class="item-each">
                      <button type="button"
                              class="btn btn-clear"
                              (click)="onAddItem('directions', i)">+ Add Direction</button>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="button"
                        class="btn btn-clear"
                        (click)="onAddItemType('directions')">+ Add Direction Group</button>
              </div>
            </div>
            <hr>
          </div>
          <div style="margin-bottom: 25px">
          </div>
        </form>
      </div>
    </div>
  </div>

</div>