input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched
    border: 1px solid red

.recipe-edit-container
    overflow: auto

label
    color: #ccc

.form-control
    font-size: 1rem
    padding: 5px 5px

.recipe-description-area
    max-width: 100%
    max-height: 200px