h3 
    margin: 0

.recipe-close
    position: absolute
    top: -10px
    right: -10px
    width: 35px 
    height: 35px
    box-shadow: 0 1px 3px 1px #ccc
    background-color: white
    z-index: 99
    border-radius: 50%
    border: 2px solid salmon 
    font-size: 1.5em

.recipe-header
    display: flex
    width: 100%

.recipe-manage-row
    width: 100%

.recipe-manage-buttons
    padding: 25px 0
    display: flex
    justify-content: space-around

    button
        padding: 5px 10px
        border: 2px solid #666
        font-weight: bold

.recipe-image-contain
    display: flex
    justify-content: center

.recipe-title
    font-size: 1.8rem
    color: #eef
    padding: 15px

.recipe-description, .recipe-ingredients, .recipe-directions
    font-size: 1.4rem
    color: #eeeeff
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    h4 
        font-size: 1.1em

.recipe-description-text
    font-size: .9em

.recipe-section-title
    text-align: center

.list-group-item
    background: transparent
    border: none
    padding: 5px 15px
    flex-grow: 1

.recipe-image-bg
    width: 12vw
    height: 12vw