<div class="recipe-overlay"
     *ngIf="(recipeState | async).recipes.length > 0">
  <div class="overlay-contain">
    <button type="button"
            class="recipe-close"
            aria-label="Close"
            (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row recipe-header">
      <div class="recipe-image-contain">
        <img [src]="(recipeState | async).recipes[id].imagePath"
             alt=" {{ (recipeState | async).recipes[id].name }}"
             class="img-responsive recipe-image-bg">
      </div>
      <div class="recipe-detail-title">
        <div class="recipe-name">
          <h4>{{ (recipeState | async).recipes[id].name }}</h4>
        </div>
        <div class="recipe-description">
          <h5 class="recipe-description-title">Description:</h5>
          <p class="recipe-description-text">{{ (recipeState | async).recipes[id].description }}</p>
        </div>
      </div>
    </div>
    <div class="recipe-manage-row">
      <div class="recipe-manage-buttons">
        <button (click)="onAddToShoppingList()"
                style="cursor: pointer">Add Ingredients to List</button>
        <button style="cursor: pointer"
                (click)="onEditRecipe()">Edit Recipe</button>
        <button style="cursor: pointer"
                (click)="onDeleteRecipe()">Delete Recipe</button>
      </div>
    </div>
    <div class="ingredients-contain">
      <div class="recipe-section-title">INGREDIENTS:</div>
      <ul class="ingredients-list">
        <li class="ingredient-contain"
            *ngFor='let ingredient of (recipeState | async).recipes[id].ingredients'>
          <div class="ingredient">
            - {{ ingredient }}
          </div>
        </li>
      </ul>
    </div>
    <div class="directions-contain">
      <div class="recipe-section-title">DIRECTIONS:</div>
      <div class="directions">
        {{ (recipeState | async).recipes[id].directions }}
      </div>
    </div>
  </div>
</div>