.sl-button-contain
    margin-bottom: 15px

.sl-button
    background: transparent 
    border: 1px solid #666
    padding: 25px 50px
    height: 75px
    
    &:hover
        background: #ddd

    &:disabled
        color: #cccccc
        
        &:hover
            background: transparent
    
.sl-button-isdefault
    font-size: .6em