<div class="container-fluid borderize">
  <div class="row borderize-contain">
    <div class="headline">
      <div class="text-center headline-title">
        <h1>Shopping Lists</h1>
      </div>
    </div>
    <div class="row all-lists-contain">
      <div class="col-xs-12">
        <!-- <app-shopping-edit></app-shopping-edit> -->
        <!-- <hr> -->
        <div class="shopping-lists-contain">
          <div class="viewable-lists">
            <app-sl-each *ngFor="let listIndex of viewableListsIndexArray; let i = index"
                         [listIndex]="listIndex"
                         [viewableListIndex]='i'
                         class="sl-list"
                         [ngClass]="{ 'sl-default-list' : defaultListIndex === i}">
            </app-sl-each>
          </div>
          <div class="full-shopping-lists">
            <!-- <div *ngFor="let shoppingList of (shoppingListState$ | async).shoppingLists; let i = index"
                 class="full-shopping-list">
              <div class="sl-button-contain">
                <button class="sl-button"
                        (click)="onSlButtonClick(i)"
                        [disabled]="viewableListsIndexArray.includes(i)">{{shoppingList.title}} <br /> {{i}}
                  <div *ngIf="defaultListIndex === i"
                       class="sl-button-isdefault">(Default)</div>
                </button>
              </div>

            </div> -->
            <!-- <app-sl-button *ngFor="let shoppingList of (shoppingListState$ | async).shoppingLists; let i = index"
                           [shoppingListTitle]="shoppingList.title"
                           [listIndex]="i"
                           [isDefault]="defaultListIndex===i"
                           class="full-shopping-list">
            </app-sl-button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>