<div class="container-fluid borderize">
  <div class="row borderize-contain">
    <div class="text-center headline-title">
      <h1>Shopping Lists</h1>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <div class="shopping-list-contain"
             *ngFor="let shoppingList of (shoppingListState | async).shoppingLists; let i = index">
          <div class="sl-type-title">Shopping List - {{shoppingList.title}}</div>
          <ul class="list-group">
            <a class="list-group-item"
               style="cursor: pointer"
               *ngFor="let ingredient of (shoppingListState | async).shoppingLists[i].ingredients; let p = index"
               (click)="onEditItem(p)">
              {{ingredient.name}}
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>