<div class="container-fluid borderize">
  <div class="row borderize-contain">
    <div class="text-center headline-title">
      <h1>Shopping Lists</h1>
    </div>
    <div class="row all-lists-contain">
      <div class="col-xs-12">
        <!-- <app-shopping-edit></app-shopping-edit> -->
        <!-- <hr> -->
        <div class="shopping-lists-contain">
          <div class="viewable-lists">
            <div class="sl-new-list">
              <div class="sl-type-title">
                Add New List
              </div>
              <div class="sl-add-sign"
                   (click)="onAddNewList()">
              </div>
            </div>
            <app-sl-each *ngFor="let listIndex of viewableListsIndexArray; let i = index"
                         [listIndex]="listIndex"
                         class="sl-list"
                         [ngClass]="{ 'sl-default-list' : defaultListIndex === i}">
            </app-sl-each>
          </div>
          <div class="full-shopping-lists">
            <app-sl-button *ngFor="let shoppingList of (shoppingListState | async).shoppingLists; let i = index"
                           [shoppingListTitle]="shoppingList.title"
                           [listIndex]="i"
                           [isDefault]="defaultListIndex===i">
            </app-sl-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>