<nav class="navbar navbar-default">
    <div class="container-fluid nav__container">
        <div class="navbar-header">
            <a routerLink="/"
               class="navbar-brand"
               (click)="onSelect()">Recipeasy</a>
        </div>
        <div class="beyond-burger">
            <div class="burger-container"
                 (click)="menuClick($event)">
                <div class="line1 stopped"></div>
                <div class="line2 stopped"></div>
                <div class="line3 stopped"></div>
            </div>
        </div>
        <div class="navbar-default nav__header"
             #headermenu>
            <!-- <ul *ngIf="(authState | async).authenticated || (authState | async).testMode" -->
            <ul class="nav navbar-nav">
                <ng-template [ngIf]="(authState | async).authenticated || (authState | async).testMode">
                    <li routerLinkActive="active"><a routerLink="/recipes"
                           (click)="onSelect()">Recipes</a></li>
                    <li routerLinkActive="active"><a routerLink="/shopping-list"
                           (click)="onSelect()">Shopping List</a></li>
                </ng-template>
            </ul>
            <ul class="nav
                       navbar-nav
                       rightward">
                <ng-template [ngIf]="!(authState | async).authenticated && !(authState | async).testMode">
                    <li><a style="cursor:pointer"
                           (click)="onClick('register')">Register</a></li>
                    <li><a style="cursor:pointer"
                           (click)="onClick('signin')">Sign In</a></li>
                </ng-template>
                <ng-template [ngIf]="(authState | async).authenticated">
                    <li><a (click)="authLogout()"
                           style="cursor: pointer"
                           routerLink="/">Log Out</a></li>
                    <li class="dropdown"
                        appDropdown>
                        <a style="cursor: pointer"
                           class="dropdown-toggle"
                           role="button">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a style="cursor: pointer"
                                   (click)="onSave()">Save Data</a></li>
                            <li><a style="cursor: pointer"
                                   (click)="onFetch()">Fetch Data</a></li>
                        </ul>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>