<nav class="navbar navbar-default">
    <div class="container-fluid nav__container"
         appMenuClose>
        <div class="navbar-brand-contain">
            <a routerLink="/"
               class="navbar-brand"
               (click)="onPageChange()">Recipeasy</a>
        </div>
        <div class="beyond-burger"
             (click)="onMobileMenuClick()"
             #beyondburger>
            <div class="burger-container">
                <div class="line1 stopped"></div>
                <div class="line2 stopped"></div>
                <div class="line3 stopped"></div>
            </div>
        </div>
        <div class="navbar-default nav__header"
             #headermenu>
            <ul class="nav navbar-nav">
                <ng-template [ngIf]="(authState | async).authenticated || testMode">
                    <li routerLinkActive="active"
                        class="nav-recipes"><a routerLink="/recipes"
                           (click)="onPageChange()">Recipes</a></li>
                    <li routerLinkActive="active"><a routerLink="/shopping-list"
                           (click)="onPageChange()">Shopping List</a></li>
                </ng-template>
                <ng-template [ngIf]="testMode">
                    <li (click)="testModeOff()"
                        class="test-text-contain"><span class="test-text">Test Mode Off</span></li>
                </ng-template>
            </ul>
            <ul class="nav navbar-nav rightward">
                <ng-template [ngIf]="!(authState | async).authenticated && !testMode">
                    <li><a style="cursor:pointer"
                           (click)="onModalOpen('register')">Register</a></li>
                    <li class="sign-in-button"><a style="cursor:pointer"
                           (click)="onModalOpen('signin')">Sign In</a></li>
                </ng-template>
                <ng-template [ngIf]="(authState | async).authenticated">
                    <li><a (click)="authLogout()"
                           style="cursor: pointer"
                           routerLink="/">Log Out</a></li>
                    <li class="dropdown"
                        appDropdown>
                        <a style="cursor: pointer"
                           class="dropdown-toggle"
                           role="button">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a style="cursor: pointer"
                                   (click)="onSave()">Save Data</a></li>
                            <li><a style="cursor: pointer"
                                   (click)="onFetch()">Fetch Data</a></li>
                        </ul>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>