<div class="item-list">
    <div class="item-contain">
        <div class="item-list-title">{{ itemTitle }}</div>
        <ul class="items-list">
            <li [className]="itemType === 'ingredient' ? 'ingredient-contain' : 'direction-contain'"
                *ngFor='let item of items'>
                <div [className]="itemType === 'ingredient' ? 'text ingredient-text' : 'text direction-text'"
                     (click)="itemType === 'ingredient' ? onAddIngredientToList(item) : null">
                    - {{ item.name }}
                </div>
            </li>
        </ul>
    </div>
</div>