<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="text-center auth__title">
      <h1>{{ authType | titlecase }}</h1>
    </div>
    <form (ngSubmit)="onSignin(f)"
          #f="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email"
               id="email"
               name="email"
               class="form-control"
               ngModel>
        <div class="auth__warning"
             *ngIf="errorMsg === 'auth/user-not-found'">Email Address Not Found</div>
        <div class="auth__warning"
             *ngIf="errorMsg === 'auth/invalid-email'">Please Enter Valid Email Address</div>
        <div class="auth__warning"
             *ngIf="errorMsg === 'auth/email-already-in-use'">Email Already Registered</div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               ngModel>
        <div class="auth__warning"
             *ngIf="errorMsg === 'auth/wrong-password'">Wrong Password</div>
        <div class="auth__warning"
             *ngIf="errorMsg === 'auth/weak-password'">Password Must Be At Least 6 Characters</div>
      </div>
      <button class="btn btn-primary"
              type="submit"
              *ngIf="authType==='signin'">Log In</button>
      <button class="btn btn-primary"
              type="submit"
              *ngIf="authType==='register'">Register</button>
    </form>
    <hr>
    <div class="auth__mistake"
         *ngIf="authType==='register'">Already Registered? <a style="cursor: pointer"
         (click)="onClick('signin')">Sign in here!</a></div>
    <div class="auth__mistake"
         *ngIf="authType==='signin'">No account? <a style="cursor: pointer"
         (click)="onClick('register')">Register here!</a></div>
  </div>
</div>