<div class="row">
     <div class="col-xs-10 col-xs-offset-1">
          <div class="text-center auth__title">
               <h1>{{ thisType | titlecase }}</h1>
          </div>
          <div class="auth__warning"
               *ngIf="error">{{ error }}</div>
          <form (ngSubmit)="onSignin(f)"
                #f="ngForm">
               <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control"
                           ngModel
                           email>
               </div>
               <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           ngModel>
               </div>
               <button class="btn btn-primary"
                       type="submit"
                       *ngIf="thisType==='signin'">Log In</button>
               <button class="btn btn-primary"
                       type="submit"
                       *ngIf="thisType==='register'">Register</button>
          </form>
          <hr>
          <div class="auth__mistake"
               *ngIf="thisType==='register'">Already Registered? <a style="cursor: pointer"
                  (click)="onSwitchTypeHandler('signin')">Sign in here!</a></div>
          <div class="auth__mistake"
               *ngIf="thisType==='signin'">No account? <a style="cursor: pointer"
                  (click)="onSwitchTypeHandler('register')">Register here!</a></div>
     </div>
</div>