@import "../../../variables"
    
.sl-contain
    width: 100%
    height: 100%
    // border-radius: 5px
    min-height: 200px
    display: flex
    flex-direction: column
    justify-content: space-between
    overflow: hidden
    max-height: 50vh

.sl-main
    height: 100%
    min-height: 30vh

.sl-full-header
    display: flex
    align-items: center
    justify-content: center
    min-height: 40px
    background: $colorLighter
    color: $colorDarkest
    border-top-right-radius: 5px
    border-top-left-radius: 5px

.sl-list-close
    position: relative
    background: $colorDarkest
    border-left: 1px solid $colorDarkest
    width: 25%
    height: 100%
    cursor: pointer
    transition: all .2s 

    &:hover
        background: $colorDarker


    &:before, &:after
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(45deg)
        content: ''
        width: 3px 
        height: 15px
        background: #eeeeff

    &:after
        height: 3px 
        width: 15px

.sl-type-title
    display: flex
    justify-content: center
    text-align: center
    font-weight: semi-bold
    font-size: 1.3em

.sl-ingredient-list
    padding: 10px
    height: 100%
    overflow-y: scroll
    border-left: 1px solid #cccccc
    border-right: 1px solid #cccccc
    
.sl-ingredient-list-item
    padding: 5px
    list-style-type: none

.sl-ingredient
    display: flex
    justify-content: space-between
    align-items: center

.sl-ingredient-hidden
    display: none

.sl-ingredient-input-hidden
    display: none

.sl-ingredient-name
    width: 100%

.ingredient-alter
    display: flex
    justify-content: center
    width: 25px
    height: 25px

.ingredient-delete, .ingredient-edit
    width: 25px
    height: 25px
    position: relative
    cursor: pointer

.ingredient-add
    cursor: pointer

.ingredient-delete

    &:before, &:after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(45deg)
        background: #A41C1C

    &:before
        width: 2px
        height: 15px
    
    &:after
        width: 15px
        height: 2px

.sl-footer
    display: flex

.list-edit, .list-edit-default
    background: $colorLighter
    color: $colorDarkest
    width: 50px
    height: 50px
    text-align: center
    padding: 15px 0
    cursor: pointer
    border-bottom-right-radius: 2px
    border-bottom-left-radius: 2px
    border: 1px solid #ccc


    &:hover
        background: #555

.list-edit-default
    flex-grow: 1