<div class="sl-each-contain">
    <div class="sl-full-space"
         *ngIf="listIndex !== -1; else emptySpace">
        <div class="sl-contain">
            <div class="sl-main"
                 *ngIf="editingListIndex !== listIndex || editingIngredientIndex !== -1; else listForm">
                <div class="sl-full-header">
                    <div class="sl-type-title">
                        {{viewableListObject.title}}
                    </div>
                </div>
                <ul class="sl-ingredient-list">
                    <li class="sl-ingredient-list-item"
                        *ngFor="let ingredient of viewableListObject.ingredients; let p = index">
                        <app-ingredient-input [inputValue]="ingredient.name"
                                              [ngClass]="(editingListIndex === listIndex) && (editingIngredientIndex === p) ? 'sl-ingredient-input' : 'sl-ingredient-input-hidden'"
                                              (savedIngredient)="onSingleIngredientSave($event)">
                        </app-ingredient-input>
                        <div
                             [ngClass]="(editingListIndex !== listIndex) || (editingIngredientIndex !== p) ? 'sl-ingredient' : 'sl-ingredient-hidden'">
                            <div class="sl-ingredient-name">{{ingredient.name}}</div>
                            <div class="ingredient-alter">
                                <!-- <div class="ingredient-edit"
                                     (click)="onEditItem(p)">
                                    <div class="edit-icon"></div>
                                </div> -->
                                <div class="ingredient-delete"
                                     (click)="onDeleteItem(p)"></div>
                            </div>
                        </div>
                    </li>
                    <li class="sl-list-item">
                        <div class="ingredient-add"
                             (click)="onAddItem()">+ Add Item</div>
                    </li>
                </ul>
            </div>
            <ng-template #listForm>
                <form class="sl-main"
                      [formGroup]="shoppingListForm"
                      (ngSubmit)="onSaveList()">
                    <label for="listTitle"></label>
                    <input type="text"
                           class="ingredient-inplace"
                           id="listTitle"
                           formControlName="title">
                    <ul class="sl-list">
                        <li class="sl-list-item"
                            *ngFor="let ingredient of viewableListObject.ingredients; let p = index"
                            formArrayName="ingredients">
                            <div [formGroupName]="p">
                                <input type="text"
                                       class="ingredient-inplace"
                                       formControlName="name">
                            </div>
                        </li>
                        <li class="sl-list-item">
                            <div class="ingredient-add"
                                 (click)="onAddItem()">+ Add Item</div>
                        </li>
                    </ul>
                </form>
            </ng-template>
            <div class="sl-footer">
                <div class="list-edit-default"
                     (click)="onMakeDefault()">
                    Default
                </div>
                <div class="list-edit"
                     *ngIf="editingListIndex !== listIndex; else editForm"
                     (click)="onEditList()">Edit</div>
                <ng-template #editForm>
                    <div class="list-edit"
                         (click)="onSaveList()">Save</div>
                </ng-template>
                <div class="list-edit"
                     (click)="onViewableListClose()">_</div>
                <div class="list-edit"
                     (click)="onDeleteList()">Delete</div>
            </div>
        </div>
    </div>
    <ng-template #emptySpace>
        <div class="sl-empty-space"
             (click)="onAddNewList()">
            <div class="add-new-sl-contain">
                <div class="add-new-sl-button">
                </div>
            </div>
        </div>
    </ng-template>
</div>