.recipeRow
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    margin: 0 0 20px
    position: relative

.recipeDetail
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)