.recipeRow
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    margin: 0 0 20px
    position: relative

.new-recipe
    height: 95px
    width: 100px
    font-family: 'Pacifico', cursive
    font-size: 3.5rem
    color: #aaa 
    border: 1px solid #aaa
    border-radius: 8px
    
    &:hover
        color: #666 
        border: 1px solid #666