@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto')
    
$navbar-height: 75px
$navbar-height-minus: 77px
$borderize-margin: 30px
$lineheight: 3px
$spaceheight: 6px
$lineoneoffset: $lineheight + $spaceheight
$iconheight: ($lineheight * 3) + ($spaceheight *2)

body 
    font-family: 'Roboto', sans-serif
h1 

// App
.fullbackground
    height: calc(100vh - #{$navbar-height-minus})
    display: flex
    align-items: center
    justify-content: center
    background: white url('assets/main.jpg') no-repeat center top
    background-size: cover

.attribute
    position: absolute
    bottom: #{$borderize-margin * 2}
    right: #{$borderize-margin * 2}
    a
        color: white

.app__row
    width: 100%

.router-contain 
    position: absolute
    top: $navbar-height
    left: 0
    width: 100%
    height: calc(100vh - #{$navbar-height-minus})
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden

// Home
.titleback
    background: rgba(white,.5)
    padding: 15px 30px
    border-radius: 10px
    text-align: center
    z-index: 1
    transform: translateY(-50%)
    font-family: 'Pacifico', cursive

// Header 

.navbar-brand
    font-size: 30px
    font-family: 'Pacifico', cursive

.navbar-header
    flex-grow: 1

    @media (min-width: 768px) 
        flex-grow: 0

.nav__container
    height: $navbar-height
    display: flex
    align-items: center

.nav__header
    position: absolute
    top: 70px
    left: 100%
    display: flex
    flex-direction: column
    padding: 25px
    transition: all .5s ease-in-out
    width: 300px
    z-index: 1

    &.active
        left: 75%
        z-index: 99

    @media (min-width: 768px) 
        position: relative
        left: 0
        top: 0
        justify-content: space-between
        flex-grow: 1
        flex-direction: row
        padding: 0
        border: none
        width: auto

// Burger Button
.beyond-burger
    position: relative
    display: block
    width: 50px
    height: 50px
    // z-index: 99
    
    @media (min-width: 768px)
        display: none 

.navbar-nav
    margin: 0

.burger-container 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 35px
  height: $iconheight
  cursor: pointer

  .line1 
    animation: firstline--back 1s
  

  .line2 
    margin: $spaceheight 0
    animation: secondline--back 1s
  

  .line3 
    animation: thirdline--back 1s
  

  &.active 

    .line1 
      animation: firstline 1s forwards
    

    .line2 
      animation: secondline 1s forwards
    

    .line3 
      animation: thirdline 1s forwards
    
  


.line1, .line2, .line3 
  height: $lineheight
  background: black
  border-radius: 2px


.stopped 
  -webkit-animation: none
  animation: none !important


@keyframes firstline 
  0% 
    transform: translateY(0)
  
  50% 
    transform: translateY($lineoneoffset)
  
  
  100% 
    transform: translateY($lineoneoffset) rotate(45deg)
  


@keyframes secondline 
  0% 
    transform: scale(1)
  
  50% 
    transform: scale(0)
  
  
  100% 
    transform: scale(0)
  


@keyframes thirdline 
  0% 
    transform: translateY(0)
  
  50% 
    transform: translateY(-$lineoneoffset)
  
  
  100% 
    transform: translateY(-$lineoneoffset) rotate(-45deg)
  


@keyframes firstline--back 
  0% 
    transform: translateY($lineoneoffset) rotate(45deg)
  
  50% 
    transform: translateY($lineoneoffset) rotate(0deg)
  
  
  100% 
    transform: translateY(0)
  


@keyframes secondline--back 
  0% 
    transform: scale(0)
  
  50% 
    transform: scale(0)
  
  
  100% 
    transform: scale(1)
  


@keyframes thirdline--back 
  0% 
    transform: translateY(-$lineoneoffset) rotate(-45deg)
  
  50% 
    transform: translateY(-$lineoneoffset) rotate(0deg)
  
  
  100% 
    transform: translateY(0)
  


    

.nav__items__container
    display: flex

// Auth 
.auth__contain
    position: absolute
    top: $navbar-height
    left: 0
    width: 100%
    height: calc(100vh - #{$navbar-height-minus})
    pointer-events: none
    &.over
        pointer-events: auto

.auth
    height: calc(100vh - #{$navbar-height-minus})
    position: relative
    width: 100%
    background-color: rgba(0,0,0,.5)
    z-index: 1000

.auth__modal
    position: absolute
    top: 0
    left: 0
    height: calc(100vh - #{$navbar-height-minus})
    width: 100%
    justify-content: center
    align-items: center
    display: flex
    justify-content: center
    align-items: center
    z-index: 1000

.auth__modal--white
    background: white
    width: 350px
    height: 400px
    position: relative
    border-radius: 15px
    box-shadow: 2px 3px 10px 1px rgba(0,0,0,.3)

.auth__title
    margin-bottom: 50px

.auth__warning
    color: red
    font-size: 0.7em
    margin-top: 5px

// Feature Components
.borderize
    background: white
    margin: $borderize-margin 0
    height: calc(100vh - #{$navbar-height-minus} - #{$borderize-margin * 2})
    border-radius: 15px
    width: calc(100vw - #{$borderize-margin * 2})
    overflow: auto
    max-width: 1366px

// Recipes
.recipes__title
    margin: 25px 0

.recipe-overlay
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

.overlay-contain
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: rgba(0,0,0,.85)
    padding: 25px
    border-radius: 15px
    width: 35vw
    max-height: 85vh
    box-shadow: 0 1px 5px 3px #ccc

// Shopping List

.sl__container
    background: white
    padding: 25px
    height: 80vh
    overflow: auto
    border-radius: 15px
    max-width: 500px
    @media (min-width: 768px)
        height: 50vh